/*======= GLOBAL STYLES =====*/

@import url(https://fonts.googleapis.com/css?family=Architects+Daughter|Righteous|Audiowide);

font-family: 'Architects Daughter', cursive;
font-family: 'Righteous', cursive;
font-family: 'Audiowide', cursive;

html,body{
    width:100%;
    height:100%;
    margin:100%;
    padding:0px;
    
}
body{
    background-color: #0007ff;/*blue*/
    font-family: 'Source Sans Pro', Trebuchet MS,sans-serif;
    font-size:16px;    
}
h1,h2,h3{
    margin:0px;
    padding:0px;
    color:aquamarin#7fffd4;/*aquamarine*/   
}
p{
    margin:15px 0px;
}
b, strong{
    color:#6495ed; /*cornflowerblue*/
}
a{
    color:#6495ed; 
    text-decoration:none; 
}
a:hover{
    color:#0000ff; /*darkblue*/
}
.mainWidth{
    width:1200px;
}
/*========= HEADER STYLES=======*/

